<div class="menu-nav">
	<div class="menu-head">
		<!--*ngIf="user.role == 1"-->
		<img src="./assets/images/admin.png">
		<!--<img *ngIf="user.role == 2" src="./assets/images/user.png">-->
		<h2>Administrador</h2>
        <!--<h2>{{user.firstname}}</h2>-->
	</div>
	<hr class="line-divider">
	<div class="menu-list">
		<ul class="mb-0">
			<li><a [routerLink]="['/admin/categoria']" routerLinkActive="active-route"><i class="fa fa-list" aria-hidden="true"></i> Servicios Cotización</a></li>
			<li><a [routerLink]="['/admin/servicio']" routerLinkActive="active-route"><i class="fa fa-tasks" aria-hidden="true"></i> Servicios Tarifados</a></li>
			<li><a [routerLink]="['/admin/comision']" routerLinkActive="active-route"><i class="fa fa-money" aria-hidden="true"></i> Comisión </a></li>
			<li><a [routerLink]="['/admin/administrador']" routerLinkActive="active-route"><i class="fa fa-street-view" aria-hidden="true"></i> Administrador </a></li>
			<li><a [routerLink]="['/admin/usuario']" routerLinkActive="active-route"><i class="fa fa-users" aria-hidden="true"></i> Cliente </a></li>
			<li><a [routerLink]="['/admin/proveedor']" routerLinkActive="active-route"><i class="fa fa-folder-open" aria-hidden="true"></i> Proveedor </a></li>
			<li><a [routerLink]="['/admin/pedido']" routerLinkActive="active-route"><i class="fa fa-address-book" aria-hidden="true"></i> Pedidos </a></li>	
			<!-- *ngIf="user.role == 2"
				*ngIf="user.role == 1"
				<li><a [routerLink]="['/reports/principal/consolidado']" routerLinkActive="active-route"><i class="fa fa-home" aria-hidden="true"></i>  </a></li> -->
		</ul>
		<hr class="line-divider">
		<ul>
			<li><a (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar Sesión</a></li>
		</ul>
	</div>
</div>