
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: white;">
          <a class="navbar-brand"><b>Servicios</b></a>
          <form class="form-inline ml-auto" style="color: #135daa;">
              <label class="my-1 mr-2" for="inlineFormCustomSelectPref"><b>Tipo:</b></label>
              <select class="color-blue" name="typeService" style="height: 36px;">
                  <option *ngFor="let item of services" [value]="item.id">{{ item.name }}</option>
                </select>

          </form>
      </nav>
  <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 table-responsive" style="background-color: white">
    <!--<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col"># ID</th>
          <th scope="col">Categoria</th>
          <th scope="col">Subcategoria</th>
          <th scope="col">Fecha Creación</th>
          <th scope="col">Dias transcurridos</th>
          <th scope="col">Monto</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of budgetList">
          <td scope="row">{{ result.id }}</td>
          <td scope="row">{{ result.category_service.name }}</td>
          <td scope="row">{{ result.parent_category.name }}</td>
          <td scope="row">{{ result.created_at | date: 'dd/MM/yyyy' }}</td>
          <td scope="row">{{ CountDays(result.created_at) }}</td>
          <td scope="row">{{ result.price }}</td>
          <td scope="row">{{ result.status_service.name }}</td>
          <td scope="row">
            <button type="button" (click)="budgetDetail(myModal, result)" class="btn btn-warning">Detalle</button>
            <button type="button" (click)="deleteBudget( result.id )" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th scope="row"><input class="form-control mr-sm-2" type="text" placeholder="ID" name="ID"></th>
          <th scope="row"><input class="form-control mr-sm-2" type="text" placeholder="Categoria" name="Categoria"></th>
          <th scope="row"><input class="form-control mr-sm-2" type="text" placeholder="Subcategoria" name="Subcategoria"></th>
          <th scope="row"><input class="form-control mr-sm-2" type="text" placeholder="Fecha" name="Fecha Creacion"></th>
          <th scope="row"><input class="form-control mr-sm-2" type="text" placeholder="Dias" name="Dias transcurridos"></th>
          <th scope="row"><input class="form-control mr-sm-2" type="text" placeholder="Monto" name="monto"></th>
          <th scope="row"><input class="form-control mr-sm-2" type="text" placeholder="Estado" name="Estado"></th>
          <th></th>
        </tr>
      </tfoot>
    </table>-->
  </div>
</div>