<br>
<div class="row">
  <div class="col-lg-10 col-md-10 col-sm-12">
      <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand"><b>Pedidos</b></a>
          <form class="form-inline">
          </form>
        </nav>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 table-responsive" style="background-color: white">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col"># ID</th>
          <th scope="col">Categoria</th>
          <th scope="col">Subcategoria</th>
          <th scope="col">Fecha Creación</th>
          <th scope="col">Dias transcurridos</th>
          <th scope="col">Monto</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of budgetList">
          <td scope="row">{{ result.id }}</td>
          <td scope="row">{{ result.category_service.name }}</td>
          <td scope="row">{{ result.parent_category.name }}</td>
          <td scope="row">{{ result.created_at | date: 'dd/MM/yyyy' }}</td>
          <td scope="row">{{ CountDays(result.created_at) }}</td>
          <td scope="row">{{ result.price }}</td>
          <td scope="row">{{ result.status_service.name }}</td>
          <td scope="row">
            <button type="button" (click)="newClient(myModal,result )" class="btn btn-warning">Detalle</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th scope="row"><input class="form-control mr-sm-2" type="text" placeholder="ID" name="ID"></th>
          <th scope="row"><input class="form-control mr-sm-2" type="text" placeholder="Categoria" name="Categoria"></th>
          <th scope="row"><input class="form-control mr-sm-2" type="text" placeholder="Subcategoria" name="Subcategoria"></th>
          <th scope="row"><input class="form-control mr-sm-2" type="text" placeholder="Fecha" name="Fecha Creacion"></th>
          <th scope="row"><input class="form-control mr-sm-2" type="text" placeholder="Dias" name="Dias transcurridos"></th>
          <th scope="row"><input class="form-control mr-sm-2" type="text" placeholder="Monto" name="monto"></th>
          <th scope="row"><input class="form-control mr-sm-2" type="text" placeholder="Estado" name="Estado"></th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<modal #myModal>
    <modal-content>
      <div class="row text-center">
        <h4>Detalle del Pedido</h4>
      </div>
      <!--<form [formGroup]="registerForm" (ngSubmit)="onSubmit(myModal)" class="col-lg-12 col-md-12">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Nombre</label>
          <div class="col-sm-10">
            <input type="text" formControlName="name" class="form-control" placeholder="Nombre">
            <div *ngIf="submitted && registerForm.controls.name.errors?.required">
              <p class="text-danger"><strong>Nombre requerido.</strong></p>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Apellido</label>
          <div class="col-sm-10">
            <input type="text" formControlName="lastname" class="form-control" placeholder="Apellido">
            <div *ngIf="submitted && registerForm.controls.lastname.errors?.required">
              <p class="text-danger"><strong>Apellidos requerido.</strong></p>
            </div>
          </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Celular</label>
            <div class="col-sm-10">
              <input type="text" formControlName="phone" class="form-control" placeholder="Celular">
              <div *ngIf="submitted && registerForm.controls.phone.errors?.required">
                <p class="text-danger"><strong>Celular requerido.</strong></p>
              </div>
            </div>
          </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Correo</label>
          <div class="col-sm-10">
            <input type="email" formControlName="email" class="form-control" placeholder="Correo">
            <div *ngIf="submitted && registerForm.controls.email.errors?.required">
              <p class="text-danger"><strong>Correo requerido.</strong></p>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">DNI</label>
          <div class="col-sm-10">
            <input type="text" formControlName="doc_number" class="form-control" placeholder="Documento de Identidad">
            <div *ngIf="submitted && registerForm.controls.doc_number.errors?.required">
              <p class="text-danger"><strong>DNI requerido y minimo 8 caracteres.</strong></p>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Contraseña</label>
          <div class="col-sm-10">
            <input type="password" formControlName="password" class="form-control" placeholder="Contraseña">
            <div *ngIf="submitted && registerForm.controls.password.errors?.required">
              <p class="text-danger"><strong>Contraseña requerido y minimo 8 caracteres.</strong></p>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Repetir Contraseña</label>
          <div class="col-sm-10">
            <input type="password" formControlName="password_confirmation" class="form-control"
              placeholder="Confirmar contraseña">
            <div *ngIf="submitted && registerForm.controls.password_confirmation.errors?.required">
              <p class="text-danger"><strong>Confirmar Contraseña requerido y minimo 8 caracteres.</strong></p>
            </div>
            <div *ngIf="flagPsw">
              <p class="text-danger"><strong>Contraseñas diferentes.</strong></p>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">foto:
            <i *ngIf="registerForm.get('image').value && !flagCreateUpdate" class="fa fa-check-circle-o text-success"
              aria-hidden="true"></i>
            <i *ngIf="!registerForm.get('image').value && !flagCreateUpdate" class="fa fa-times-circle-o text-danger"
              aria-hidden="true"></i>
            <b *ngIf="flagSize" class="text-danger">Maximo 2.5MB</b>
          </label>
          <div class="col-sm-10">
            <input (change)="selectFile($event)" class="form-control" type="file" name="image" />
          </div>
        </div>
        <div class="form-group row" *ngIf="flagRes">
          <label class="col-lg-12 col-md-12 badge badge-warning text-wrap"><b>{{ message }}</b></label>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn bprimary">guardar</button>
          </div>
        </div>
      </form>-->
    </modal-content>
  </modal>