<br>
<div class="row">
  <div class="col-lg-10 col-md-10 col-sm-12">
      <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand"><b>Pedidos</b></a>
          <form class="form-inline">
              <label class="color-blue">Tipo:</label>
              <select class="custom-select color-blue mr-sm-2" name="tipo">
                <option>Atendido</option>
                <option>En espera</option>
                <option>Sin respuesta</option>
                <option>Anulado</option>
              </select>
          </form>
        </nav>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-12">
    <!--<table class="table-responsive-sm table-bordered table-hover" style="background-color: white">
    <thead>
        <tr>
          <th scope="col"># ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Correo</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>-->
  </div>
</div>