<header>
  <section class="box-mh">
    <div class="principal row row-justifycon">
      <img src="assets/images/logo.png" />
      <div>
        <div class="clock mr-4">
          <div class="d-table">
            <div class="logo-phone">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
            </div>
            <div class="box-phone">
              <p>Mon – Fri: 10AM – 7PM</p>
              <p>Sat – Sun: 10AM – 3PM</p>
            </div>
          </div>
        </div>
        <div class="cell">
          <div class="d-table">
            <div class="logo-phone">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div class="box-phone">
              <p>Llámanos:</p>
              <h5><a href="tel:7194452808">(+51) 9999999</a></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="blue">
    <div class="row box-mh" style="display: flex;justify-content: space-between;">
      <div class="col-md-8">
        <ul class="menu row">
          <li><a routerLink="/home" routerLinkActive="active-link">INICIO</a></li>
          <li><a routerLink="/reserva" routerLinkActive="active-link">SERVICIOS</a></li>
          <li><a routerLink="/contacto" routerLinkActive="active-link">CONTACTO</a></li>
          <li *ngIf="user && user.name"><a routerLink="/reservado" routerLinkActive="active-link">RESERVADO</a></li>
        </ul>
      </div>
      <div class="col-md-3" *ngIf="!user">
        <ul class="menu row">
          <li>
            <a class="ingresar" routerLink="/ingresar" routerLinkActive="active-link" style="background: #134293">INCIAR SESIÓN</a>
          </li>
          <li>
            <a class="ingresar" style="background: #301d07" (click)="menu()">REGISTAR</a>
            <ul class="login-prooverdor" style=" position: absolute;width: 100%;z-index: 999999999;list-style: none;" *ngIf="submenu">
              <li>
                <a routerLink="/ingresar" routerLinkActive="active-link" style="background: white;color: #134293;">Iniciar como Cliente</a>
              </li>
              <li>
                <a href="#" style="background: white;color: #134293;">Iniciar como Proveedor</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <div *ngIf="user && user.name" class="box-user row">
          <img src="{{ user.image ? user.image : './assets/images/user.png' }}" class="card-img" alt="..." />
          <p>{{ user.name }} |</p>
          <a class="color-white" (click)="logout()">Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </section>
</header>
