<footer>
	<section class="blue">
		<div class="box-mh">
			<div class="row">
				<div class="col-md-4 row box-mg-micro">
					<div class="circle circle-small white box-mg-h-micro">
						<i class="fa fa-phone icon" aria-hidden="true"></i>
					</div>
					<div>
						<p>Phone:</p>
						<p>(719) 445-2808;   (719) 445-2809</p>
					</div>
				</div>
				<div class="col-md-4 row box-mg-micro">
					<div class="circle circle-small white box-mg-h-micro">
						<i class="fa fa-map icon" aria-hidden="true"></i>
					</div>
					<div>
						<p>Address:</p>
						<p>4578 Marmora Road, Glasgow</p>
					</div>
				</div>
				<div class="col-md-4 row box-mg-micro">
					<div class="circle circle-small white box-mg-h-micro">
						<i class="fa fa-envelope icon" aria-hidden="true"></i>
					</div>
					<div>
						<p>E-mail:</p>
						<a class="color-white" href="mailto:info@demolink.org">info@demolink.org</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="links-footer">
		<div class="box-mh">
			<div class="row">
				<div class="col-md-4">
					<div class="box-link">
						<h3 class="mb-3">ONLINE QUOTE</h3>
						<p>Free online quotes for windows, doors, conservatories and aluminium bi-fold doors.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box-link">
						<h3 class="mb-3">SERVICES</h3>
						<ul>
							<li>
								<a href=""><i class="fa fa-check" aria-hidden="true"></i> Plumbing Work</a>
							</li>
							<li>
								<a href=""><i class="fa fa-check" aria-hidden="true"></i> Electric Works</a>
							</li>
							<li>
								<a href=""><i class="fa fa-check" aria-hidden="true"></i> Housework</a>
							</li>
							<li>
								<a href=""><i class="fa fa-check" aria-hidden="true"></i> Equipment Installation</a>
							</li>
							<li>
								<a href=""><i class="fa fa-check" aria-hidden="true"></i> Door Repair</a>
							</li>
							<li>
								<a href=""><i class="fa fa-check" aria-hidden="true"></i> Wiring Installation</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 contact">
					<div class="box-link">
						<h3 class="mb-3">CONTACT</h3>
						<ul>
							<li>
								<a><i class="fa fa-clock-o" aria-hidden="true"></i> Mon-Fri: 10 AM - 7 PM; Sat-Sun: 10 AM - 3 PM</a>
							</li>
							<li>
								<a><i class="fa fa-map-marker" aria-hidden="true"></i> 4578 Marmora Road, Glasgow</a>
							</li>
							<li>
								<a href="tel:7194452808"><i class="fa fa-phone" aria-hidden="true"></i> Call: (719) 445-2808</a>
							</li>
							<li>
								<a href="mailto: info@demolink.org"><i class="fa fa-phone" aria-hidden="true"></i> info@demolink.org</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="darksoft">
		<div class="box-mh box-mg-nano color-whitesdark police">
			All Rights Reserved <span>Privacy Policy</span> | © Mr Pro
		</div>
		<div class="redes-footer">
			<ul>
				<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</section>
</footer>