<ptfm-header></ptfm-header>
<div class="container">
      <div class="row card-sesion">
        <div class=" col-lg-12 mg-t-small card-title">
            <h5>Reestablecer contraseña</h5>
            <hr>
        </div>
        <form  [formGroup]="registerForm" (ngSubmit)="onSubmit(myModal)" class="col-lg-12"> 
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-6 col-md-6 col-form-label"><strong>Por favor ingrese su correo
              electronico para que pueda restablecer su contraseña:</strong></label>
            <div class="col-lg-6 col-md-6">
              <input type="email" formControlName="email" class="form-control" id="email" placeholder="Ingrese el correo eletronico">
              <div *ngIf="submitted && registerForm.controls.email.errors?.required">
                <p class="text-warning"><strong>correo electronico requerido.</strong></p>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-12 col-md-6">
              <button type="submit" class="btn bprimary">Enviar correo electronico</button>
            </div>
          </div>
        </form>
      </div> 
</div>

<modal #myModal>
    <modal-content>
        <div class="row text-center">
            <h3 style="margin-left: auto; margin-right: auto;"><i class="fa {{ flagRes ? 'fa-check-circle-o text-success' : 'fa-times-circle-o text-danger' }}" aria-hidden="true"></i></h3>
            <h5>{{ message }}</h5>
        </div>
    </modal-content>        
</modal>
