<ptfm-header></ptfm-header>
<div class="body">
	<section class="banner wow fadeInUp">
		<div class="box-mh box-pd-h-small" style="visibility: visible;animation-name: fadeInUp;padding-top: 40px;background: #00000082;padding-bottom: 37px;">
			<h1 class="pd-t-medium">¿BUSCAS UN SERVICIO PARA TU CASA?</h1>
			<p class="pd-t-small">Con MR.PRO cotiza el servicio que necesites y encuentra una solución con el profesional y precio que tú decidas.</p>
			<button routerLink="/reserva" class="btn btn-primary mg-t-medium" style="padding: 10px 15px">IR A SERVICIOS</button>
		</div>
	</section>

	<section class="box-out-center">
		<div class="row box-mh row-end">
			<div class="col-md-4 text-center box-hover white box-mg-small wow slideInRight">
				<div class="circle circle-small blue mg-auto">
					<i class="fa fa-shield icon" aria-hidden="true"></i>
				</div>
				<h5 class="pd-t-small">COMPROMETIDO CON TU SEGURIDAD</h5>
				<p class="pd-t-small">Nuestro riguroso proceso de selección asegura tener a profesionales verificados y de confianza.</p>
			</div>
			<div class="col-md-4 text-center box-hover box-middle white box-mg-medium wow slideInRight">
				<div class="circle circle-small blue mg-auto">
					<i class="fa fa-check icon" aria-hidden="true"></i>
				</div>
				<h5 class="pd-t-small">CALIDAD DE SERVICIO</h5>
				<p class="pd-t-small">Realizamos un constante proceso de evaluación a profesionales para que siempre tengas disponibles a los mejores.</p>
			</div>
			<div class="col-md-4 text-center box-hover white box-mg-small wow slideInRight">
				<div class="circle circle-small blue mg-auto">
					<i class="fa fa-money icon" aria-hidden="true"></i>
				</div>
				<h5 class="pd-t-small">FACILIDAD DE PAGO</h5>
				<p class="pd-t-small">¡Así es! Puedes pagar tu servicio con cualquier medio de pago (efectivo, crédito ó débito).</p>
			</div>
		</div>
	</section>
	<!--
	<section class="about wow fadeInLeft">
		<div class="box-mh">
			<h3 class="pd-t-large text-center mb-3">ABOUT</h3>
			<div class="row">
				<div class="col-md-4 text-center white box-mg-micro">
					<div class="row row-center">
						<div class="box-line mg-r-small">
							<h2 class="absolute-miidle color-blue">M</h2>
						</div>
						<h3> OTIVATION</h3>
					</div>
					<p class="pd-t-small">Forget about all your small and big house problems! Our experts will fix everything for you!</p>
				</div>
				<div class="col-md-4 text-center white box-mg-micro">
					<div class="row row-center">
						<div class="box-line mg-r-small">
							<h2 class="absolute-miidle color-blue">H</h2>
						</div>
						<h3> ISTORY</h3>
					</div>
					<p class="pd-t-small">Our company offers a flexible discount system and a lot of special offers being beneficial for our clients.</p>
				</div>
				<div class="col-md-4 text-center white box-mg-micro">
					<div class="row row-center">
						<div class="box-line mg-r-small">
							<h2 class="absolute-miidle color-blue">C</h2>
						</div>
						<h3> ERTIFICATES</h3>
					</div>
					<p class="pd-t-small">We totally meet technical requirements, specifications and all kind of binding standards.</p>
				</div>
			</div>
		</div>
	</section>-->
		
	<section  class="what-we wow fadeInUp">
		<div class="box-mh">
			<h3 class="text-center">NUESTROS SERVICIOS</h3>
			<div class="row">
				<div class="col-md-4">
					<div class="box-do">
						<div class="header-box-do">
							<div class="box-icon">
								<a>
									<i class="fa fa-wrench" aria-hidden="true"></i>
								</a>
							</div>
							<div class="text-do">
								<h3><a>GASFITERÍA</a></h3>
								<p>Especialistas en reparación / mantenimiento de griferías, desatoros, fugas, inundaciones, tanques, termas y más.</p>
							</div>
						</div>
						<div class="footer-box-do">
							<a routerLink="/reserva">SOLICITAR SERVICIO</a>
						</div>
					</div>
					
				</div>
				<div class="col-md-4">
					<div class="box-do">
						<div class="header-box-do">
							<div class="box-icon">
								<a>
									<i class="fa fa-bolt" aria-hidden="true"></i>
								</a>
							</div>
							<div class="text-do">
								<h3><a>ELECTRICIDAD</a></h3>
								<p>Especialistas en reparación / mantenimiento de instalaciones eléctricas, cableados, tableros eléctricos, pozos a tierra y más.</p>
							</div>
						</div>
						<div class="footer-box-do">
							<a routerLink="/reserva/2">SOLICITAR SERVICIO</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box-do">
						<div class="header-box-do">
							<div class="box-icon">
								<a>
									<i class="fa fa-plug" aria-hidden="true"></i>
								</a>
							</div>
							<div class="text-do">
								<h3><a>ELECTRODOMÉSTICOS</a></h3>
								<p>Especialistas en reparación / mantenimiento de lavadoras, refrigeradoras, cocinas, hornos, licuadoras y más.</p>
							</div>
						</div>
						<div class="footer-box-do">
							<a routerLink="/reserva/3">SOLICITAR SERVICIO</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section  class="portafolio wow fadeInRight" style="display: none;">
		<div>
			<h3 class="text-center mb-5">PORTAFOLIO</h3>
			<div class="col-md-4 box-portafolio" *ngFor="let image of _albums; let i=index">
			  <img [src]="image.thumb" (click)="open(i)"/>
			</div>
		</div>
	</section>
	<section class="graysoft">
		<div class="box-mh box-mg-medium text-center">
			<h3 class="pd-t-medium">MEJORA TU AMBIENTE CON NOSOTROS</h3>
			<p class="pd-t-small">Durante nuestro trabajo, ayudamos a un gran número de personas y nos hemos ganado una reputación de empresa estable con un equipo de expertos realmente calificados que no temen ninguna dificultad.</p>
			<button routerLink="/contacto" class="btn btn-primary mg-t-medium">CONTÁCTANOS</button>
		</div>
	</section>
	<section class="testimonials wow fadeInUp">
		<div class="box-mh">
			<div class="row">
				<div class="col-md-6 text-test">
					<h3 class="mb-4">TESTIMONIALS</h3>
					<ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
				        <div ngxSlickItem  class="slide">
							<div class="box-slick">
								<div class="header-test mb-3">
									<div class="d-table">
										<div class="box-image-test">
											<img src="../../../../assets/images/testi-1.jpg">
										</div>
										<div class="box-name-test">
											<h4>Emma Stoun</h4>
											<p>Designer</p>
										</div>
									</div>
								</div>
								<div class="text-test">
									<p>Flexor is indeed a team of experts! Their Customer Service representative helped to select the correct service and the team came so quick! They are great and I’m totally pleased with their work!</p>
								</div>
							</div>             
				        </div>
				        <div ngxSlickItem  class="slide">
							<div class="box-slick">
								<div class="header-test mb-3">
									<div class="d-table">
										<div class="box-image-test">
											<img src="../../../../assets/images/testi-2.jpg">
										</div>
										<div class="box-name-test">
											<h4>Emma Stoun</h4>
											<p>Designer</p>
										</div>
									</div>
								</div>
								<div class="text-test">
									<p>Flexor is indeed a team of experts! Their Customer Service representative helped to select the correct service and the team came so quick! They are great and I’m totally pleased with their work!</p>
								</div>
							</div>             
				        </div>
				    </ngx-slick-carousel>
				</div>
				<div class="col-md-6 why-us wow fadeInUp">
					<h3 class="">WHY US?</h3>
					<h4>Because We Are Very Flexible</h4>
					<p class="mb-3">Mauris accumsan eros eget libero posuere vulputate.
						Etiam elit elit, elementum sed varius at, adipiscing vitae est.
						Sed nec felis pellentesque, lacinia dui sed, ultricies sapien.</p>
					<p class="mb-3">Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram.</p>
					<p class="mb-3">Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien.</p>
				</div>
			</div>
		</div>
	</section>
</div>
	<button (click)="confirm()">next</button>
<form>
	<div>
	  <label>
		<span>Correo Electrónico</span>
		<input type="text" size="50" data-culqi="card[email]" id="card[email]">
	  </label>
	</div>
	<div>
	  <label>
		<span>Número de tarjeta</span>
		<input type="text" size="20" data-culqi="card[number]" id="card[number]">
	  </label>
	</div>
	<div>
	  <label>
		<span>CVV</span>
		<input type="text" size="4" data-culqi="card[cvv]" id="card[cvv]">
	  </label>
	</div>
	<div>
	  <label>
		<span>Fecha expiración (MM/YYYY)</span>
		<input size="2" data-culqi="card[exp_month]" id="card[exp_month]">
		<span>/</span>
		<input size="4" data-culqi="card[exp_year]" id="card[exp_year]">
	  </label>
	</div>
  
	  <button type="button" id="buyButton" (click)="send()">Pagar S/3.00</button>
	  
	  <div class="panel panel-default" id="response-panel">
			  <div class="panel-heading">Response</div>
			  <div class="panel-body" id="response">
			  </div>
			</div>
  </form>

<ptfm-footer></ptfm-footer>

