<div class="container main-container">
  <div class="col-md-12 text-right">
    <button type="button" class="btn btn-danger" (click)="goback()">Cerrar Chat</button>
    <button type="button" class="btn blue" (click)="goback()">Regresar</button>
  </div>
  <br/>
  <div class="chat-window">
    <nav class="navbar navbar-light bg-light">
      <div class="form-inline">
          <img src="assets/images/logo.png" width="60" height="50" class="d-inline-block align-top" alt="">
          <!--<h1 class="navbar">Chat | Instalación - Reparación baño</h1>-->
          <h1 class="navbar" *ngIf="categories">{{ getName(categories, currentBudget.category_service_id) }} - Subcategoría</h1>
      </div>
    </nav>
    <hr>
    <div class="col-lg-10 col-md-10 col-sm-12 mx-auto">
      <table class="table-responsive-sm table-bordered part-coti">
        <tbody>
            <tr>
              <td><label><b>Precio</b></label><input [(ngModel)]="currentBudget.price" class="form-control mr-sm-4" type="text" placeholder="S/."></td>
              <td><label><b>Fecha</b></label><input [(ngModel)]="currentBudget.date_service" class="form-control mr-sm-4" type="date" placeholder="dd/mm/yyyy"></td>
              <td><label><b>Hora</b></label><input class="form-control mr-sm-4" type="time" placeholder="hh:mm"></td>
              <td>
                  <button (click)="updateInfo()" class="btn btn-success" type="button">Actualizar</button>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="app-mensajes" id="app-mensajes">
      <div *ngFor="let chat of _cs.mensajes" [ngClass]="{ 'text-right': _cs.currentUser.id == chat.uid  }">
        <span class="badge"
              [ngClass]="{ 'badge-primary': _cs.currentUser.id == chat.uid,
                          'badge-success': _cs.currentUser.id != chat.uid }">
              {{ chat.nombre }}</span>
        <p *ngIf="chat.tipo == '1'">
          {{ chat.mensaje }}
        </p>
        <div *ngIf="chat.tipo == '2'">
          <!--<br>-->
          <img [src]="pathImage + chat.mensaje" width="70" height="60" class="img-chat-style">
        </div>
      </div>
    </div>
    <div class="form-inline">
        <input type="text" name="mensaje"  [disabled]="isDisabled" [(ngModel)]="mensaje" class="form-control col-sm-10" (keyup.enter)="enviar_mensaje('1')" placeholder="Enviar mensaje ...">
        <div class="btn blue-btn style-photo">
          <i class="fa fa-camera" aria-hidden="true"></i>
          <input class="btn blue-btn" (change)="selectFile($event)" type="file" name="foto" id="fotoChat">
        </div>
        <button (click)="enviar_mensaje('1')" class="btn blue-btn" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
  </div>
</div>