<div class="container main-container">
  <div class="col-md-12 text-right">
    <!--<button *ngIf="user.type == 'client'" type="button" class="btn btn-danger" (click)="confirm(confirmModal, '/reservado')">Cancelar Chat</button>
    <button *ngIf="user.type == 'provider'" type="button" class="btn btn-danger" (click)="confirm(confirmModal, '/proveedor/home')">Cancelar Chat</button>-->
    <button *ngIf="user.type == 'client'" type="button" class="btn blue" (click)="goback('/reservado')">Regresar</button>
    <button *ngIf="user.type == 'provider'" type="button" class="btn blue" (click)="goback('/proveedor/home')">Regresar</button>
  </div>
  <br/>
  <div class="chat-window">
    <nav class="navbar navbar-light bg-light">
      <div class="form-inline">
          <img src="assets/images/logo.png" width="60" height="50" class="d-inline-block align-top" alt="">
          <!--<h1 class="navbar">Chat | Instalación - Reparación baño</h1>-->
          <h4 class="navbar" *ngIf="currentBudget.category_service">{{ currentBudget.category_service.name }} - {{ currentBudget.parent_category.name }}</h4>
      </div>
    </nav>
    <nav class="navbar navbar-light bg-light">
      <div class="form-inline">
        <p><b>Descripción: </b>{{ currentBudget.description }}</p>
      </div>
      <div class="form-inline">
        <button type="button" class="btn btn-primary btn-sm" (click)="details(myImages, currentBudget.image_url)">
          Ver imagenes adjuntas
        </button>
      </div>
    </nav>
    <hr>
    <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-12 table-responsive">
      <table class="table table-bordered part-coti">
        <tbody>
            <tr *ngIf="user.type == 'provider'">
              <td><label><b>Precio</b></label><input [(ngModel)]="currentBudget.price" value="currentBudget.price" class="form-control mr-sm-4" type="text" placeholder="S/."></td>
              <td><label><b>Fecha</b></label><input [(ngModel)]="currentBudget.date_service" class="form-control mr-sm-4" type="date" placeholder="dd/mm/yyyy"></td>
              <td><label><b>Hora</b></label><input  [(ngModel)]="hour" class="form-control mr-sm-4" type="time" placeholder="hh:mm"></td>
              <td style="vertical-align: middle">
                  <button (click)="updateInfo()" class="btn btn-success" type="button">Enviar</button>
              </td>
            </tr>
            <tr *ngIf="user.type == 'client'">
              <td><label><b>Precio</b></label><label class="form-control mr-sm-4">{{currentBudget.price}}</label></td>
              <td><label><b>Fecha</b></label><label class="form-control mr-sm-4">{{currentBudget.date_service | date: 'dd/MM/yyyy'}}</label></td>
              <td><label><b>Hora</b></label><label class="form-control mr-sm-4">{{hour}}</label></td>
              <td style="vertical-align: middle">
                  <button (click)="getInfo()" class="btn btn-warning" type="button">Actualizar</button>
                  <button (click)="newBudget(myModal)" class="btn btn-success" type="button">Aceptar</button>
              </td>
            </tr>
        </tbody>
      </table>
      <p class="text-danger" *ngIf="flagPrice"><strong>Precio es obligatorio.</strong></p>
    </div>
    <div class="app-mensajes" id="app-mensajes">
      <div *ngFor="let chat of _cs.mensajes" [ngClass]="{ 'text-right': user.id == chat.uid  }">
        <span class="badge"
              [ngClass]="{ 'badge-primary': user.id == chat.uid,
                          'badge-success': user.id != chat.uid }">
              {{ chat.nombre }}</span>
        <p *ngIf="chat.tipo == '1'">
          {{ chat.mensaje }}
        </p>
        <div *ngIf="chat.tipo == '2'">
          <img [src]="pathImage + chat.mensaje" width="100" height="110" class="img-chat-style">
          <!--<a [href]="getBase64(chat.mensaje)" class="donwload-style" download ="{{chat.mensaje}}">
            <p><b>Descargar</b></p>
          </a>-->
          <a [href]="(chat.image | async)?.data" class="donwload-style" download ="{{chat.mensaje}}">
            <p><b>Descargar</b></p>
          </a>
        </div>
        <p *ngIf="chat.tipo == '3'" class="text-warning">
            <i><b>{{ chat.mensaje }}</b></i>
          </p>
      </div>
    </div>
    <div class="form-inline">
        <input type="text" name="mensaje"  [disabled]="isDisabled" [(ngModel)]="mensaje" class="form-control col-sm-10" (keyup.enter)="enviar_mensaje('1')" placeholder="Enviar mensaje ...">
        <div class="btn blue-btn style-photo">
          <i class="fa fa-camera" aria-hidden="true"></i>
          <input class="btn blue-btn" (change)="selectFile($event)" type="file" name="foto" id="fotoChat">
        </div>
        <button (click)="enviar_mensaje('1')" class="btn blue-btn style-photo" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
  </div>
</div>

<modal #confirmModal>
  <modal-content>
      <div class="form text-center">
          <div class="form-group row">
            <label class="col-lg-12 col-md-12 col-form-label" style="color: #135daa">
              <b>¿Está seguro de eliminarlo?</b></label>     
          </div>
          <div class="form-group row">
            <div class="col">
              <button (click)="closeChat(confirmModal)" class="btn bprimary">Si</button>
            </div>
            <div class="col">
              <button (click)="confirmModal.close()" class="btn btn-danger">No</button>
            </div>
          </div>
        </div>
  </modal-content>
</modal>

<modal #myModal>
    <modal-content>
      <div class="row text-center">
          <div class="form-inline">
              <img src="assets/images/logo.png" width="60" height="50" class="d-inline-block align-top" alt="">
              <h1 class="navbar">Propuesta - {{ currentBudget.id }}</h1>
          </div>
      </div>
      <hr>
      <form> 
        <div class="row">
          <label for="inputEmail3" class="col-lg-2 col-form-label"><b>Proveedor:</b></label>
          <label class="col-lg-10 col-form-label">{{ user.name + ' ' + user.lastname }}</label>
        </div>
        <hr>
        <div class="row">
          <label for="inputEmail3" class="col-lg-12 col-form-label"><b>Datos del Servicio:</b></label>
        </div>
        <div class="row">
            <label for="inputEmail3" class="col-lg-2 col-form-label"><b>Fecha:</b></label>
            <label class="col-lg-3 col-form-label">{{ currentBudget.date_service }}</label>
            <label for="inputEmail3" class="col-lg-2 col-form-label"><b>Hora:</b></label>
            <label class="col-lg-2 col-form-label">{{ hour }}</label>
        </div>
        <div class="row">
            <label for="inputEmail3" class="col-lg-4 col-form-label"><b>Nombre contacto:</b></label>
            <label class="col-lg-6 col-form-label">{{ currentBudget.contact_name }}</label>
        </div>
        <div class="row">
            <label for="inputEmail3" class="col-lg-4 col-form-label"><b>Telefono contacto:</b></label>
            <label class="col-lg-6 col-form-label">{{ currentBudget.phone_name }}</label>
        </div>
        <div class="row">
            <label for="inputEmail3" class="col-lg-4 col-form-label"><b>Direccion:</b></label>
            <label class="col-lg-6 col-form-label">{{ currentBudget.address }}</label>
        </div>
        <div class="row">
            <label for="inputEmail3" class="col-lg-4 col-form-label"><b>Servicio de:</b></label>
            <label *ngIf="categories" class="col-lg-6 col-form-label">{{  getName(categories, currentBudget.category_service_id) }}</label>
        </div>
        <div class="row">
            <label for="inputEmail3" class="col-lg-4 col-form-label"><b>Decripcion:</b></label>
            <label class="col-lg-6 form-control">{{ currentBudget.description }}</label>
        </div>
        <hr>
        <div class="row">
            <label for="inputEmail3" class="col-lg-3 col-form-label"><b>Monto total:</b></label>
            <label class="col-lg-3 form-control">{{ currentBudget.price }}</label>
          <div class="col-lg-6">
            <button type="submit" (click)="executeBudget(myModal)" class="btn btn-success">Ejecutar el servicio</button>
          </div>
        </div>
      </form>
      <br>
      <div *ngIf="execute" class="row">
          <p class="p-2 mb-1 bg-primary text-white" style="margin-left: auto; margin-right: auto">
            <b>El presupuesto fue envio por correo.</b>
          </p>
      </div>
    </modal-content>
  </modal>

  <modal #myImages>
    <modal-content>
        <!--<div *ngFor="let imgItem of arrayImgs" class="text-center">
            <img [src]="imgItem" alt="Random first slide" class="img-thumbnail" height="300" width="300">
        </div>-->
        <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
          <div ngxSlickItem *ngFor="let imgItem of arrayImgs" class="slide">
                <img src="{{ imgItem }}" class="img-thumbnail" alt="" width="100%" style="border: 2px solid #dee2e6;">
          </div>
        </ngx-slick-carousel>
        <div class="badge badge-danger text-wrap" *ngIf="flagItem">
          Actualmente no cuenta con imagenes adjuntas.
        </div>
    </modal-content>
  </modal>