<h1>Chat</h1>
<hr>
<div class="btn-group" role="group" aria-label="Basic example">
    <button (click)="startChat('chat1')" type="button" class="btn btn-secondary">Chat 1</button>
    <button (click)="startChat('chat2')" type="button" class="btn btn-secondary">Chat 2</button>
  </div>
<div class="app-mensajes" id="app-mensajes">
    <div *ngFor="let chat of _cs.chats"
       [ngClass]="{ 'text-right': _cs.currentUser.id == chat.uid  }">
    <span class="badge"
          [ngClass]="{ 'badge-primary': _cs.currentUser.id == chat.uid,
                       'badge-success': _cs.currentUser.id != chat.uid }">
          {{ chat.nombre }}</span>
    <p>
      {{ chat.mensaje }}
    </p>
  </div>
</div>

<input type="text" name="mensaje"
      [(ngModel)]="mensaje"
      class="form-control"
      (keyup.enter)="enviar_mensaje()"
      placeholder="Enviar mensaje">
