<ptfm-header></ptfm-header>
<div class="body">
	<section class="graysoft">
		<div class="box-mh box-mg-micro">
			<h5>Contacto</h5>
		</div>
	</section>
	<section>
		<div class="box-mh box-mg-small">
			<div class="row row-start">
				<!--
				<div class="col-md-4 white box-mg-micro">
					<div class="">
						<h5>Contact Information</h5>
					</div>
					<div class="mg-t-medium">
						<p>Visit Our Company at</p>
						<p>Address: 4578 Marmora Road, Glasgow</p>
					</div>
					<div class="mg-t-medium">
						<p>Have a Questions? Call us</p>
						<p><a href="tel:7194452808">(719) 445-2808</a>;   <a href="tel:7194452809">(719) 445-2809</a></p>
					</div>
					<div class="mg-t-medium">
						<p>Working Time</p>
						<p>Our support available to help you24 hours
						a day, seven days a week.
						Monday–Friday: 08:00–18:00
						Saturday: 08:00–16:00
						Sunday: Close</p>
					</div>
					<div class="mg-t-medium">
						<p>Contact with Us</p>
						<p>E-mail: <a href="mailto:info@demolink.org">info@demolink.org</a></p>
					</div>
				</div>-->
				<div class="col-md-8 white box-mg-micro">
					<div>
						<h5>¿Necesitas información adicional?</h5>
					</div>
					<div class="mg-t-small">
						<p>Completa el siguiente formulario o escríbenos directamente a nuestra dirección de correo info@mrpro.pe . Te atenderemos
							lo antes posible.</p>
					</div>
					<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
						<div class="mg-t-small">
							<div class="form-group">
								<h5>Nombre</h5>
							</div>
						</div>
						<div class="mg-t-micro card-sesion" style="margin-top: 0px">
							<div class="form-group">
								<input formControlName="name" class="form-control" type="text" placeholder="Nombre">
								<div *ngIf="submitted && contactForm.controls.name.errors?.required">
									<p class="text-danger">
										<strong>Nombre requerido.</strong>
									</p>
								</div>
							</div>
						</div>
						<div class="mg-t-small">
							<div class="form-group">
								<h5>Email</h5>
							</div>
						</div>
						<div class="mg-t-micro card-sesion" style="margin-top: 0px">
							<div class="form-group">
								<input formControlName="email" class="form-control" type="email" placeholder="Email">
								<div *ngIf="submitted && contactForm.controls.email.errors?.required">
									<p class="text-danger">
										<strong>Email requerido.</strong>
									</p>
								</div>
							</div>
						</div>
						<div class="mg-t-small">
							<div class="form-group">
								<h5>Teléfono (Opcional)</h5>
							</div>
						</div>
						<div class="mg-t-micro card-sesion" style="margin-top: 0px">
							<div class="form-group">
								<input formControlName="telephone" class="form-control" type="text" placeholder="Telefono">
							</div>
						</div>
						<div class="mg-t-small">
							<div class="form-group">
								<h5>Asunto</h5>
							</div>
						</div>
						<div class="mg-t-micro card-sesion" style="margin-top: 0px">
							<div class="form-group">
								<input formControlName="subject" class="form-control" type="text" placeholder="Asunto">
								<div *ngIf="submitted && contactForm.controls.subject.errors?.required">
									<p class="text-danger">
										<strong>Asunto requerido.</strong>
									</p>
								</div>
							</div>
						</div>
						<div class="mg-t-small">
							<div class="form-group">
								<h5>Mensaje</h5>
							</div>
						</div>
						<div class="mg-t-micro card-sesion" style="margin-top: 0px">
							<div class="form-group">
								<textarea formControlName="body" class="form-control"></textarea>
								<div *ngIf="submitted && contactForm.controls.body.errors?.required">
									<p class="text-danger">
										<strong>Mensaje requerido.</strong>
									</p>
								</div>
							</div>
						</div>
						<div class="mg-t-small">
							<div class="form-group">
								<button type="submit" class="btn btn-primary" style="padding: 10px 15px;">ENVIAR</button>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</section>
</div>
<ptfm-footer></ptfm-footer>