<ptfm-header></ptfm-header>
<div class="container">
      <div class="row card-sesion">
        <div class=" col-lg-12 mg-t-small card-title">
            <h5>Establecer Nueva Contraseña</h5>
            <hr>
        </div>
        <form  [formGroup]="registerForm" (ngSubmit)="onSubmit(myModal)" class="col-lg-10"> 
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-6 col-md-6 col-form-label"><strong>Por favor ingrese su correo:</strong></label>
            <div class="col-lg-6 col-md-6">
              <input type="email" formControlName="email" class="form-control" id="email" placeholder="Ingrese el correo eletronico">
              <div *ngIf="submitted && registerForm.controls.email.errors?.required">
                <p class="text-danger"><strong>correo electronico requerido.</strong></p>
              </div>
            </div>
          </div>
          <div class="form-group row">
              <label for="inputEmail3" class="col-lg-6 col-md-6 col-form-label"><strong>Por favor ingrese su nueva contraseña:</strong></label>
              <div class="col-lg-6 col-md-6">
                <input type="password" formControlName="password" class="form-control" id="email" placeholder="Ingrese la nueva contraseña">
                <div *ngIf="submitted && registerForm.controls.password.errors?.required">
                  <p class="text-danger"><strong>Contraseña requerido.</strong></p>
                </div>
                <div *ngIf="submitted && registerForm.controls.password.errors?.minlength">
                    <p class="text-danger"><strong>Minimo 8 caracteres.</strong></p>
                  </div>
              </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-lg-6 col-md-6 col-form-label"><strong>Por favor confirmar su nueva contraseña:</strong></label>
                <div class="col-lg-6 col-md-6">
                  <input type="password" formControlName="password_confirm" class="form-control" id="email" placeholder="Confirmar la nueva contraseña">
                  <div *ngIf="submitted && registerForm.controls.password_confirm.errors?.required">
                    <p class="text-danger"><strong>Contraseña de confirmación requerido.</strong></p>
                  </div>
                  <div *ngIf="submitted && registerForm.controls.password_confirm.errors?.minlength">
                      <p class="text-danger"><strong>Minimo 8 caracteres.</strong></p>
                    </div>
                  <div *ngIf="flagPsw">
                      <p class="text-danger">
                        <strong>La contraseña y la confirmación deben ser iguales.</strong>
                      </p>
                    </div>
                </div>
              </div>
          <div class="form-group row">
            <div class="col-lg-12 col-md-6">
              <button type="submit" class="btn bprimary">Efectuar el cambio</button>
            </div>
          </div>
        </form>
      </div> 
</div>

<modal #myModal>
    <modal-content>
        <div class="row text-center">
            <h3><i class="fa {{ flagRes ? 'fa-check-circle-o text-success' : 'fa-times-circle-o text-danger' }}" aria-hidden="true"></i></h3>
            <h4>{{ message }}</h4>
        </div>
    </modal-content>        
</modal>
