<ptfm-header></ptfm-header>
<div class="container">
      <div class="row card-sesion">
        <div class=" col-lg-12 mg-t-small card-title">
            <h5>Crear una cuenta como proveedor</h5>
            <hr>
            <div class="row">
              <label class="col-lg-4 col-md-6 col-form-label">Tipo:</label>
              <div class="col-lg-2">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                  <label class="form-check-label" for="gridRadios1">
                    Empresa
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                  <label class="form-check-label" for="gridRadios2">
                    Particular
                  </label>
                </div>
              </div>
            </div>
        </div>
        <form class="col-lg-12"> 
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-4 col-md-6 col-form-label">Nombre</label>
            <div class="col-lg-8 col-md-6">
              <input type="text" class="form-control" id="inputEmail3" placeholder="Nombre">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-4 col-md-6 col-form-label">Apellido</label>
            <div class="col-lg-8 col-md-6">
              <input type="text" class="form-control" id="inputEmail3" placeholder="Apellido">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-4 col-md-6 col-form-label">Correo</label>
            <div class="col-lg-8 col-md-6">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Correo">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-4 col-md-6 col-form-label">Telefono</label>
            <div class="col-lg-8 col-md-6">
              <input type="text" class="form-control" id="inputEmail3" placeholder="Telefono">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-4 col-md-6 col-form-label">Distrito</label>
            <div class="col-lg-8 col-md-6">
              <input type="password" class="form-control" id="inputEmail3" placeholder="Distrito">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-4 col-md-6 col-form-label">Direccion</label>
            <div class="col-lg-8 col-md-6">
              <input type="password" class="form-control" id="inputEmail3" placeholder="Direccion">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-4 col-md-6 col-form-label">Distrito Alcance</label>
            <div class="col-lg-8 col-md-6">
              <input type="password" class="form-control" id="inputEmail3" placeholder="Confirmar contraseña">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-4 col-md-6 col-form-label">Categoria</label>
            <div class="col-lg-8 col-md-6">
              <input type="password" class="form-control" id="inputEmail3" placeholder="Categoria">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-4 col-md-6 col-form-label">Subcategorias</label>
            <div class="col-lg-8 col-md-6">
              <input type="password" class="form-control" id="inputEmail3" placeholder="Categoria">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-4 col-md-6 col-form-label">Antecedentes Policiales</label>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-4 col-md-6 col-form-label">Antecedentes Penales</label>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-4 col-md-6 col-form-label">Antecedentes Policiales</label>
          </div>
          <div class="form-group row">
            <div class="col-lg-12 col-md-12">
              <button type="submit" (click)="saveProvider(myModal)" class="btn bprimary">guardar</button>
            </div>
          </div>
        </form>
      </div> 
</div>