<nav class="navbar navbar-expand-lg navbar-dark header-admin">
  <a class="navbar-brand header-admin" href="#">Comisión</a>
  <div class="navbar-collapse" id="basicExampleNav"> 
    <ul class="navbar-nav ml-auto">
        <a class="btn blue" href="#">Nuevo <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
    </ul>
    <!--<form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar..." aria-label="Search">
      </div>
    </form>-->
  </div>
</nav>
<br />
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="card text-center">
        <div class="card-header">
            Comision A
          </div>
      <div class="card-body card-body-admin">
        <label>Rango:</label><p class="card-text">De 0 a 100 soles</p>
        <label>Porcentaje:</label><p class="card-text">30%</p>
      </div>
      <div class="card-footer">
          <a href="#" class="btn btn-success">Editar</a>
          <a href="#" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="card text-center">
        <div class="card-header">
            Comision B
          </div>
      <div class="card-body card-body-admin">
        <label>Rango:</label><p class="card-text">De 101 a 200 soles</p>
        <label>Porcentaje:</label><p class="card-text">25%</p>
      </div>
      <div class="card-footer">
          <a href="#" class="btn btn-success">Editar</a>
          <a href="#" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="card text-center">
        <div class="card-header">
            Comision C
          </div>
      <div class="card-body card-body-admin">
        <label>Rango:</label><p class="card-text">De 201 a 300 soles</p>
        <label>Porcentaje:</label><p class="card-text">20%</p>
      </div>
      <div class="card-footer">
          <a href="#" class="btn btn-success">Editar</a>
          <a href="#" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="card text-center">
        <div class="card-header">
            Comision D
          </div>
      <div class="card-body card-body-admin">
        <label>Rango:</label><p class="card-text">De 301 a 400 soles</p>
        <label>Porcentaje:</label><p class="card-text">15%</p>
      </div>
      <div class="card-footer">
          <a href="#" class="btn btn-success">Editar</a>
          <a href="#" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
  </div>
</div>