<br>
<div class="row">
  <div class="col-lg-10 col-md-10 col-sm-12">
      <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand"><b>Proveedor</b></a>
          <div class="navbar-nav mr-auto">
            <a (click)="newProvider(myModal, 'Nueva Proveedor')" class="btn blue" href="javascript:void(0)">Nuevo <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
          </div>
          <div class="navbar-nav mr-auto">
            <a class="btn btn-success" href="javascript:void(0)">Importar <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
          </div>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </nav>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-12">
    <table class="table table-bordered table-hover" style="background-color: white">
    <thead>
        <tr>
          <th scope="col"># ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Correo</th>
          <th scope="col">DNI</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>12345678</td>
          <td>
            <button (click)="newProvider(myModal, 'Editar Proveedor')" type="button" class="btn btn-warning">Editar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>12345678</td>
          <td>
              <button (click)="newProvider(myModal, 'Editar Proveedor')" type="button" class="btn btn-warning">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>12345678</td>
          <td>
              <button type="button" class="btn btn-warning">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-12">
      <nav aria-label="Page navigation example">
        <label class="color-blue">N° Filas:</label>
            <select class="custom-select color-blue col-lg-1" name="hour">
              <option>10</option>
              <option>20</option>
              <option>50</option>
            </select>
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Atras</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Siguiente</a>
            </li>
          </ul>
        </nav>
  </div>
</div>

<modal #myModal>
    <modal-content>
      <div class="row text-center">
        <h4>{{title}}</h4>
      </div>
        <form> 
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail3" placeholder="Nombre">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Apellido</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail3" placeholder="Apellido">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Correo</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" placeholder="Correo">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">DNI</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputEmail3" placeholder="Documento de Identidad">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Contraseña</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputEmail3" placeholder="Contraseña">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Repetir Contraseña</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputEmail3" placeholder="Confirmar contraseña">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" (click)="saveProvider(myModal)" class="btn bprimary">guardar</button>
            </div>
          </div>
        </form>
    </modal-content>
  </modal>