<ptfm-header></ptfm-header>
<div class="container">
  <div class="row card-sesion">
    <div class=" col-lg-12 mg-t-small card-title">
      <h5>Perfil Cliente</h5>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-3 col-md-3 col-form-label">Foto:
              <i *ngIf="client && client.image" class="fa fa-check-circle-o text-success"
                aria-hidden="true"></i>
              <i *ngIf="client && !client.image" class="fa fa-times-circle-o text-danger"
                aria-hidden="true"></i>
            </label>
            <div class="col-lg-5 col-md-5">
              <input (change)="selectFile($event)" type="file" name="foto">
            </div>
            <div class="col-lg-4 col-md-4">
                <img *ngIf="client"
                  src="{{ client.image_url ? client.image_url : './assets/images/user.png' }}"
                  height="200" width="200" class="img-thumbnail">
              </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-3 col-md-6 col-form-label">DNI:</label>
            <div class="col-lg-9 col-md-6">
              <input type="text" formControlName="doc_number" class="form-control" id="dni" placeholder="Ingrese DNI">
              <div *ngIf="submitted && registerForm.controls.doc_number.errors?.required">
                <p class="text-warning">
                  <strong>DNI requerido.</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-3 col-md-6 col-form-label">Nombre:</label>
            <div class="col-lg-9 col-md-6">
              <input type="text" formControlName="name" class="form-control" id="nombre" placeholder="Ingrese Nombre">
              <div *ngIf="submitted && registerForm.controls.name.errors?.required">
                <p class="text-warning">
                  <strong>Nombre requerido.</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-3 col-md-6 col-form-label">Apellidos:</label>
            <div class="col-lg-9 col-md-6">
              <input type="text" formControlName="lastname" class="form-control" id="apellidos" placeholder="Ingrese Apellidos">
              <div *ngIf="submitted && registerForm.controls.lastname.errors?.required">
                <p class="text-warning">
                  <strong>Apellidos requerido.</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-3 col-md-6 col-form-label">Celular:</label>
            <div class="col-lg-9 col-md-6">
              <input type="text" formControlName="phone" class="form-control" id="ptelefono" placeholder="Ingrese Celular" maxlength="9">
              <div *ngIf="submitted && registerForm.controls.phone.errors?.required">
                <p class="text-warning">
                  <strong>Celular requerido.</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-3 col-md-6 col-form-label">C. Electrónico:</label>
            <div class="col-lg-9 col-md-6">
              <input type="email" formControlName="email" class="form-control" id="pcorreo" placeholder="Ingrese Correo">
              <div *ngIf="submitted && registerForm.controls.email.errors?.required">
                <p class="text-warning">
                  <strong>Correo requerido.</strong>
                </p>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-3 col-md-6 col-form-label">Contraseña:</label>
            <div class="col-lg-9 col-md-6">
              <input type="password" formControlName="password" class="form-control" id="contrasena" placeholder="Ingrese Contraseña" minlength="8">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-3 col-md-6 col-form-label">Confirmar Contraseña:</label>
            <div class="col-lg-9 col-md-6">
              <input type="password" formControlName="password_confirmation" class="form-control" id="contrasena2" placeholder="Ingrese Contraseña de nuevo"
                minlength="8">
                <div *ngIf="flagPsw">
                    <p class="text-danger">
                      <strong>La contraseña y la confirmación son requeridas.</strong>
                    </p>
                  </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-lg-3 col-md-6 col-form-label">Metodo de pago:</label>
            <div class="col-lg-9 col-md-6">
              <div class="box-card-credit">
                <p>{{listCard.length}} Tarjetas guardadas</p>
                <button type="button" class="btn btn-dark" (click)="editPago()">Editar</button>
              </div>
            </div>
          </div>
          <div class="form-group row" *ngIf="flagRes">
              <label class="col-lg-12 col-md-12 badge badge-primary text-wrap"><b>{{ message }}</b></label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-6 col-md-6">
          <button type="submit" class="btn btn-warning">Guardar cambios.</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="popUp-card" *ngIf="pago">
    <div>
      <div style="width:100%;display:flex;justify-content:flex-end;">
        <button (click)="addMetodButon()" style="margin-bottom: 19px;padding: 5px 20px;border: none;border-radius: 7px;background: #373738;color: white;">
          <i class="fa fa-credit-card" style="margin-right: 10px;"></i>
          Añadir método de pago
        </button>
      </div>
      <div class="card" style="border:none;" *ngIf="!addMetod">
        <h5 class="card-header" style="color:white;background: #135daa;"><b class="text-danger">(*)</b> Seleccione su metodo de pago</h5>
        <div class="card-body" style="padding: 20px;">
          <div style="display: flex;flex-direction: column-reverse;">
              <div style="display: flex;align-items: center; margin-top: 10px;padding: 10px;border-radius: 10px;" *ngFor="let list of listCard" [ngStyle]="{'background': list.default == 1 ? '#ffc10785' : 'white'}">
                  <div class="form-check" style="width: 400px;margin-right: 40px;display: flex;justify-content: space-between;">
                    <input (click)="selectCardBank(list.id)" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" [attr.checked]=" list.default == 1 ? 'checked' : null" style="opacity:0;"/>
                    <label class="form-check-label" for="exampleRadios1" style="display: flex;">
                      {{ list.number_card }}
                      <p *ngIf="list.default == 1" style="margin-left:15px;">(Predeterminado)</p>
                    </label>
                    <div class="radio-icon radio-icon-spreedly" style="width: 62px;background: url(https://assets-fix-me.cabify.com/97882ae02375c44ffb589354e157601d.svg) 50% no-repeat;height: 22px;"></div>
                  </div>
                  <button type="button" class="btn btn-info" style="width: 36px;height: 36px;padding: 0px;margin-right: 17px;" (click)="setCardCredite(list.id)"><i class="fa fa-check"></i></button>
                  <button type="button" (click)="deleteCard(list.id)" class="btn btn-danger" style="width: 36px;height: 36px;padding: 0px;margin-right: 17px;"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
          </div>
          <div class="form-check" style="margin-top: 10px;">
            <input (click)="changePay()" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked/>
            <label class="form-check-label" for="exampleRadios2">
              Efectivo
            </label>
          </div>
          <div class="form-check" style="margin-top: 10px;" *ngIf="flagTypePay">
              <label class="badge badge-warning text-wrap"><b>Si selecciona Pago Efectivo, no tiene opción de cancelación.</b></label>
          </div>
          <div style="width: 300px;margin: auto;">
            <button type="button" class="btn btn-danger" (click)="cancelSend()" style="width: 101px;height: 36px;padding: 0px;margin-right: 17px;">Cancelar</button>
          </div>
        </div>
      </div>
      <div class="card" style="border:none;" *ngIf="addMetod">
        <h5 class="card-header" style="color:white;background: #135daa;">Añadir método de pago</h5>
        <div class="card-body" style="padding: 20px;">
          <form class="form-add-metod">
            <div class="row">
              <div class="col">
                <input type="text" (keypress)="onlydigit($event)" class="form-control" placeholder="Numero de tarjeta" [(ngModel)]="cardCreit.number" name="number" maxlength="16" />
                <label *ngIf="nFlag" class="text-danger">debe ser 16 digitos</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Expiración - 00/00" [(ngModel)]="cardCreit.date" name="date"  maxlength="5"/>
                <label *ngIf="dFlag" class="text-danger">debe ser mm/yy</label>
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="CVV " [(ngModel)]="cardCreit.cvv" name="cvv" maxlength="3" />
                <label *ngIf="cvvFlag" class="text-danger">debe ser 3 digitos</label>
              </div>
            </div>
            <div style="width: 240px;margin: auto;">
              <button type="submit" class="btn btn-info" (click)="saveCard()" style="width: 101px;height: 36px;padding: 0px;margin-right: 17px;">Guardar</button>
              <button type="button" class="btn btn-danger" (click)="cancelCard()" style="width: 101px;height: 36px;padding: 0px;margin-right: 17px;">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>