<ptfm-header></ptfm-header>
<div class="row row-start">
  <div class="col-md-12 min-h-window graysoft">
    <section class="box-mh">
      <div class="box-mg-nano">Se han solicitado {{ providerData.length }} servicio{{ providerData.length == 1 ? "" : "s" }}</div>

      <!-- <div class="row">
        <div class="col-md-6 mg-t-small" *ngFor="let provider of providerData">
          <div class="card card-provider">
            <div class="row no-gutters box-mg-nano">
              <div class="col-4 image-provider">
                <img src="./assets/images/user.png" class="card-img" alt="..." />
              </div>
              <div class="col-8">
                <div class="card-body">
                  <h5 class="">{{ provider.user_provider.user.name }}</h5>
                  <p class="card-text">
                  </p>
                  <p class="card-text">
                    <small class="text-muted">{{ provider.user_provider.experience }} años de experiencia</small>
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Fecha de Reserva: {{ provider.date_service }}</small>
                  </p>
                  <p>Información: {{ provider.description }}</p>
                </div>
              </div>
              <div class="buttons-provider col-md-12 row row-justifycon">
                <button class="btn color-blue" (click)="ficha(myFile, provider)">Ver ficha</button>
                <button (click)="schedule(provider)" class="btn btn-danger">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="content-lista-reservados" style="display: flex;flex-direction: column-reverse;">
        <div *ngFor="let resultFilters of resultFilter" [class.acordeon]="resultFilters.acordeon == false">
          <h3 class="acordeon-button" (click)="acordeon(resultFilters)" class="h3-acordeon">
            <div>
              {{ resultFilters.values[0].date_service }} |
              <span class="description-acordeon" style="font-weight: 100;" *ngIf="resultFilters.values[0].category_service_id == 1">Gasfitero</span>
              <span class="description-acordeon" style="font-weight: 100;" *ngIf="resultFilters.values[0].category_service_id == 2">Electricista</span>
              <span class="description-acordeon" style="font-weight: 100;" *ngIf="resultFilters.values[0].category_service_id == 3">Técnico en Electrodomésticos</span>
            </div>
            <span class="description-acordeon" style="text-align: right"><i class="fa fa-sort-down"></i></span>
          </h3>
          <div style="width: 95%;margin-left: 15px;margin: auto;background: white;padding: 20PX;MARGIN-BOTTOM: 20PX;">
            <h4>Descripción:</h4>
            <p>{{ resultFilters.values[0].description }}</p>
          </div>
          <div class="row" style="width: 95%;margin-left: 15px;margin: auto;background: white;padding: 20PX;MARGIN-BOTTOM: 20PX;box-shadow: rgba(41, 98, 182, 0.12) 0px 10px 10px;">
            <div class="col-md-4 mg-t-small" *ngFor="let value of resultFilters.values">
              <div class="card card-provider">
                <div class="row no-gutters box-mg-nano" style="display: flex;flex-direction: column;text-align: center;">
                  <div class="col-4 image-provider">
                    <img src="./assets/images/user.png" class="card-img" alt="..." />
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="">{{ value.user_provider.user.name }} {{ value.user_provider.user.lastname }}</h5>
                      <!-- <span>{{ value.rating }} </span><rating [(ngModel)]="value.rating" [readonly]="true"></rating> -->
                      <p class="card-text">
                        <!-- <small class="text-muted">{{ value.success }} servicios realizados</small> -->
                      </p>
                      <p class="card-text">
                        <small class="text-muted">{{ value.user_provider.experience }} años de experiencia</small>
                      </p>
                      <!-- <p class="card-text">
                            <small class="text-muted">Fecha de Reserva: {{ value.date_service }}</small>
                          </p> -->
                    </div>
                  </div>
                  <div class="buttons-provider col-md-12 row row-justifycon">
                    <button class="btn color-blue" (click)="ficha(myFile, value)">Ver ficha</button>
                    <button (click)="schedule(provider)" class="btn btn-danger">Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<ptfm-footer></ptfm-footer>

<modal #myFile>
  <modal-content>
    <div class="error text-center">
      <div class="content" style="text-align: center;display: flex;align-items: center;justify-content: space-between">
        <img src="./assets/images/user.png" class="card-img" alt="..." style="width: 200px;" />
        <div>
          <div style="margin-top: 10px; text-align: left !important;">
            <h5 style="font-weight: 600;color: #134293;font-size: 17px;">
              Nombre:
            </h5>
            <p>{{ tprovider.user_provider.user.name }} {{ tprovider.user_provider.user.lastname }}</p>
          </div>
          <div style="margin-top: 20px; text-align: left !important;">
            <h5 style="font-weight: 600;color: #134293;font-size: 17px;">
              Años de Experiencia:
            </h5>
            <p>{{ tprovider.user_provider.experience }} años</p>
          </div>
          <div style="margin-top: 20px; text-align: left !important;">
            <h5 style="font-weight: 600;color: #134293;font-size: 17px;">
              Certificaciones:
            </h5>
            <p>
              <span *ngFor="let certificate of tprovider.user_provider.certificate">{{ certificate.certificate.name }}, </span>
              <!-- {{ tprovider.user.name }} -->
            </p>
          </div>
          <!-- <div style="margin-top: 20px; text-align: left !important;">
            <h5 style="font-weight: 600;color: #134293;font-size: 17px;">
              Instituciones:
            </h5>
            <p>
              {{ tprovider.user_provider.user.name }}
            </p>
          </div> -->
          <div style="margin-top: 20px; text-align: left !important;">
            <h5 style="font-weight: 600;color: #134293;font-size: 17px;">
              Calificacion (0 - 5):
            </h5>
            <p>
              <!-- {{ tprovider.user_provider.rating }} -->
              0
            </p>
          </div>
        </div>
      </div>
    </div>
  </modal-content>
</modal>
