<ptfm-header></ptfm-header>
<div class="row row-start">
  <div class="white col-md-3">
    <form>
      <div class="form-row">
        <div class="form-group col-lg-10 col-md-10 col-sm-12">
          <h5 class="color-blue title-filter">Tipo de Servicio</h5>
          <div class="form-group color-blue">
            <div class="form-check">
              <input (click)="buttonSelectType('programmed')" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option1" checked />
              <label class="form-check-label" for="exampleRadios2">
                Cotizacion
              </label>
            </div>
            <div class="form-check">
              <input (click)="buttonSelectType('immediate')" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option2" />
              <label class="form-check-label" for="exampleRadios1">
                Directo
              </label>
            </div>
            <div class="form-check">
              <input (click)="buttonSelectType('priced')" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" />
              <label class="form-check-label" for="exampleRadios3">
                Tarifado
              </label>
            </div>
          </div>
        </div>
        <div *ngIf="serviceSearch.type == 'programmed'" class="form-group col-lg-10 col-md-10 col-sm-6">
          <h5 class="color-blue title-filter">Fecha y hora del servicio</h5>
          <input class="form-control color-blue col-lg-10 col-md-10 col-sm-12" [ngModel]="serviceSearch.date | date: 'yyyy-MM-dd'" min="{{ serviceSearch.date | date: 'yyyy-MM-dd' }}" type="date" name="date" />
          <select class="custom-select color-blue col-lg-10 col-md-10 col-sm-12" [(ngModel)]="serviceSearch.hour" name="hour">
            <option>08:00:00</option>
            <option>09:00:00</option>
            <option>10:00:00</option>
            <option>11:00:00</option>
            <option>12:00:00</option>
            <option>13:00:00</option>
            <option>14:00:00</option>
            <option>15:00:00</option>
            <option>16:00:00</option>
            <option>17:00:00</option>
            <option>18:00:00</option>
            <option>19:00:00</option>
          </select>
        </div>
        <div class="form-group col-lg-10 col-md-10 col-sm-12">
          <h5 class="color-blue title-filter">Categoría</h5>
          <select class="custom-select color-blue col-lg-10 col-md-10 col-sm-12" [(ngModel)]="serviceSearch.category" (change)="categoryChanged()" style="width: initial" name="category">
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>
        <div class="form-group col-lg-10 col-md-8 col-sm-12">
          <h5 class="color-blue title-filter">Sub Categoría</h5>
          <select class="custom-select color-blue col-lg-10 col-md-8 col-sm-10" [(ngModel)]="serviceSearch.subcategory" style="width: initial" name="subcategory">
            <option *ngFor="let subcategory of subCategories" [value]="subcategory.id">{{ subcategory.name }}</option>
          </select>
        </div>
        <div *ngIf="serviceSearch.type == 'priced'" class="form-group col-lg-10 col-md-10 col-sm-12">
          <h5 class="color-blue title-filter">Cantidad</h5>
          <input class="form-control color-blue col-lg-10 col-md-10 col-sm-12" type="number" min="1" max="24" id="example-number-input" />
        </div>
        <div class="form-group">
          <button (click)="scheduleAll(myModal)" class="btn bprimary"><span *ngIf="serviceSearch.type == 'programmed'">Cotizar seleccionados</span><span *ngIf="serviceSearch.type == 'immediate'">Procesar Inmediato</span><span *ngIf="serviceSearch.type == 'priced'">Precesar Tarifado</span></button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-9 min-h-window graysoft">
    <section class="box-mh">
      <div class="box-mg-nano row row-justifycon">
        {{ providers.length }} Profesional{{ providers.length == 1 ? "" : "es" }}
        <a class="color-blue" (click)="selectAllProviders()"><i class="fa {{ selectedProviders == providers.length ? 'fa-check-circle-o' : 'fa-circle-o' }} font-s-middle"></i> Seleccionar todos</a>
      </div>

      <div class="row">
        <div class="col-md-3 mg-t-small" *ngFor="let provider of providers; let i = index">
          <div class="card card-provider {{ provider.selected ? 'selected' : '' }}">
            <i class="fa {{ provider.selected ? 'fa-check-circle-o' : 'fa-circle-o' }} absolute-rt font-s-middle"></i>
            <div class="no-gutters box-mg-nano" (click)="selectProvider(provider)">
              <div class="col-4 image-provider" style="margin: auto;">
                <img src="{{ provider.user.image ? provider.user.image : './assets/images/provider.png' }}" class="card-img" alt="..." />
              </div>
              <div class="col-8" style="margin: auto; text-align: center;">
                <div class="card-body">
                  <h5 class="">{{ provider.user.name }}</h5>
                  <span>{{ provider.rating }} </span><rating [(ngModel)]="provider.rating" [readonly]="true"></rating>
                  <p class="card-text">
                    <small class="text-muted">{{ provider.success }} servicios realizados</small>
                  </p>
                  <p class="card-text">
                    <small class="text-muted">{{ provider.experience }} años de experiencia</small>
                  </p>
                  <button (click)="showFile(myFile, provider)" class="btn color-blue">Ver ficha</button>
                </div>
              </div>
            </div>
            <div class="buttons-provider col-md-12 row row-justifycon">
              <button [disabled]="selectedProviders > 0" (click)="schedule(myModal, provider)" style="width:100%;" class="btn bprimary">Cotizar</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<ptfm-footer></ptfm-footer>

<modal #myModal>
  <modal-content>
    <div class="error text-center">
      <div class="icon">
        <i class="fa {{ messageT ? 'fa-check-circle' : 'fa-times-circle' }}" aria-hidden="true"></i>
      </div>
      <h4>{{ message }}</h4>
    </div>
  </modal-content>
</modal>

<modal #myFile>
  <modal-content style="    width: 570px;">
    <div class="error text-center">
      <div
        class="content"
        style="text-align: center;display: flex;align-items: center;
      justify-content: space-around;"
      >
        <img src="./assets/images/provider.png" class="card-img" alt="..." style="width:200px;" />
        <div>
          <div style="margin-top: 10px; text-align: left !important;">
            <h5 style="font-weight: 600;color: #134293;font-size: 17px;">
              Nombre:
            </h5>
            <p>
              {{ tprovider.user.name }}
            </p>
          </div>
          <!-- <div style="margin-top: 20px; text-align: left !important;">
            <h5 style="font-weight: 600;color: #134293;font-size: 17px;">
              Tipo de Servicio:
            </h5>
            <p>
              {{ tprovider.user.name }}
            </p>
          </div> -->
          <!-- <div style="margin-top: 20px; text-align: left !important;">
              <h5>
                Servicio Realizados:
              </h5>
              <p>
                {{ tprovider.user.name }}
              </p>
            </div> -->
          <div style="margin-top: 20px; text-align: left !important;">
            <h5 style="font-weight: 600;color: #134293;font-size: 17px;">
              Años de Experiencia:
            </h5>
            <p>{{ tprovider.experience }} años</p>
          </div>
          <div style="margin-top: 20px; text-align: left !important;">
            <h5 style="font-weight: 600;color: #134293;font-size: 17px;">
              Certificaciones:
            </h5>
            <p>
              <span *ngFor="let certificate of tprovider.certificate">{{ certificate.certificate.name }}, </span>
              <!-- {{ tprovider.user.name }} -->
            </p>
          </div>
          <div style="margin-top: 20px; text-align: left !important;">
            <h5 style="font-weight: 600;color: #134293;font-size: 17px;">
              Instituciones:
            </h5>
            <p>
              {{ tprovider.user.name }}
            </p>
          </div>
          <div style="margin-top: 20px; text-align: left !important;">
            <h5 style="font-weight: 600;color: #134293;font-size: 17px;">
              Calificacion (0 - 5):
            </h5>
            <p>
              {{ tprovider.rating }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="error text-center">
      <h3>{{ tprovider.user.name + " " + tprovider.user.lastname }}</h3>
      <br />
      <h4>Certificado en:</h4>
      <p *ngFor="let certificate of tprovider.certificate">{{ certificate.certificate.name }}</p>
    </div> -->
  </modal-content>
</modal>
